<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <div data-role="page" id="{{ page.id }}" {% if page.id == 'home' %}data-dom-cache="true"{% endif %}>  
        {% include header.html %}
        <div data-role="content">
            {{ content }}
        </div>
        {% include footer.html %}
    </div>
    <div id="getBridgeItPopup" style="opacity: 0;display:none;" class="ui-body-c">
        <a id="closeGetBridgePopup" onclick="closeGetBridgeItPopup();"><i class="icon-remove-sign"></i></a>
        <p>Missing BridgeIt native features..would you like to download the BridgeIt utility app now?</p>
        <a id="appStoreLink" href="http://www.icesoft.org/projects/ICEmobile/containers.jsf"
            class="whiteButton bridgeItBtn" onclick="return closeGetBridgeItPopup();" target="_blank">Download the utility app now</a>
    </div>
</body>
</html>

